Package: stockfish
Version: 11
Depends: libc6 (>= 2.21), libgcc1 (>= 6.0.22), libstdc++6 (>= 6.0.22)
Description: Stockfish is a free, powerful UCI chess engine
 derived from Glaurung 2.1. It is not a complete chess program and requires a
 UCI-compatible GUI (e.g. XBoard with PolyGlot, Scid, Cute Chess, eboard,
 Arena, Sigma Chess, Shredder, Chess Partner or Fritz) in order to be used
 comfortably.
Homepage: https://stockfishchess.org
Architecture: armv7ahf-vfp-neon
License: GPL-3.0
