Package: enigma2-plugin-extensions-backupsuite
Version: 3.0_r1
Section: base
Priority: optional
Architecture: all
Maintainer: Open Vision Developers
Description: backupsuite
Depends: *
Source: *
Homepage: *
OE: *
License: GPLv3
